
    <div class="footer_container module_wide">
        <div class="module_row">
            <div class="module_col module_1-3 footer_column">
                <div class="footer_footer_logo">
                    <a href="">
                        <img src="https://fullstack.edu.vn/assets/images/f8_text_logo.png" alt="Logo">
                    </a>
                    <p>F8 là nơi học lập trình miễn phí.</p>
                    <p>Các khoá học được đầu tư kỹ lưỡng từ nội dung tới chất lượng hình ảnh và âm thanh.</p>
                    <p>Học viên có thể học từ con số 0 tới khi trở thành lập trình viên chuyên nghiệp tại đây.</p>
                    <br>
                    <p>© 2019 MyCV JSC. All rights reserved.</p>
                </div>
            </div>
            <div class="module_col module_1-5 footer_column">
                <h6>F8</h6>
                <ul>
                    <li>
                        <a href="">Giới thiệu</a>
                    </li>
                    <li>
                        <a href="">Câu hỏi thường gặp</a>
                    </li>
                    <li>
                        <a href="">Liên hệ</a>
                    </li>
                </ul>
            </div>
            <div class="module_col module_1-5 footer_column">
                <h6>Sản phẩm</h6>
                <ul>
                    <li>
                        <a href="">MyCV.vn</a>
                    </li>
                    <li>
                        <a href="">Fullstack.edu.vn</a>
                    </li>
                    <li>
                        <a href="./addcourses.html">CRUD Courses</a>
                    </li>
                </ul>
            </div>
            <div class="module_col module_1-5 footer_column">
                <h6>Hỗ trợ</h6>
                <ul>
                    <li>
                        <a href="">Hỗ trợ</a>
                    </li>
                    <li>
                        <a href="">Đóng góp</a>
                    </li>
                </ul>
            </div>
            

            <div class="module_col module_1-3 footer_subscrible footer_column">
                <h6>Theo dõi chúng tôi</h6>
                <p>Nhập email để đăng ký nhận những thông tin hữu ích về học tập từ F8</p>
                <input type="text" placeholder="Email của bạn...">
                <button class="footer_subscribleBtn">Đăng ký</button>
            </div>
        </div>
    </div>