<div class="navbar_wrapper">
    <div class="navbar module_wide">
        <div class="navbar_content">
            <div class="navbar_logo">
                <a href="">
                    <img src="https://fullstack.edu.vn/assets/images/f8_text_logo.png" alt="f8-logo">
                </a>
            </div>
            <div class="navbar_nav">
                <ul class="navbar_menu">
                    <a href="">Trang chủ</a>
                    <a href="./courses.html">Khóa học</a>
                    <a href="">Tạo CV xin việc</a>
                </ul>
            </div>
        </div>
        <div class="navbar_auth">
            <ul>
                <li>
                    <a href="">Đăng nhập</a>
                </li>
                <li class="navbar_separate"></li>
                <li>
                    <a href="">Đăng ký</a>
                </li>
            </ul>
        </div>
    </div>
</div>